@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@500;600&display=swap');


:root{ /*Pseudoclasse global*/
    --cor-primaria: black;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fontePrimaria:'Krona One', sans-serif;
    --fonteSecundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  var( --cor-primaria);
    /* height: 100%; 100% view port altura */
    box-sizing: border-box;/*border box para nada sair do body, ver documentação*/
    color: var(--cor-secundaria);
    
}

.cabecalho{
    padding: 2% 0 0 15%;
}
.cabecalho__navegacao{
    
    display: flex;
    gap: 80px;
}

.cabecalho__navegacao__link{
    font-family: var(--fontePrimaria);
    font-size: 24px;
    font-weight: 600px;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.2% 15%;
    gap:82px
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    gap: 40px; /*espaçamento entre os filhos do aprtesnetação conteudo*/
   
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fontePrimaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonteSecundaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__Subtitulo{

    font-family: var(--fontePrimaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-weight: 400px;
    }

.apresentacao__links__botoes{
    width: 60%;
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 600;
    font-family: var(--fonteSecundaria);
    padding: 21.5px 0px; /*1°vertical 2 horizontal*/
    text-decoration: none;
    color: var(--cor-secundaria);
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__botoes:hover
{
    background-color: var(--cor-hover)
}
.apresentacao__foto{
    width: 50%;
}
.rodape{
    color: black;
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: var(--fonteSecundaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: auto;
   
}


@media (max-width:1200px)/*enquanto essa condição for verdadeira*/
{
    .cabecalho{
        padding: 12%;
    }
    .cabecalho__navegacao{
        justify-content: center;
    }
   .apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
   }
   .apresentacao__conteudo{
    width: auto;/*Usa todo o espaço automaticamente*/
   }
   
}
    

